@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
/*
cores:
#c5ebd6 - verde claro (fundo)
#83e1ad - verde médio
#3ddc84 - verde escuro
#2fa866 - verde mais escuro
#1a5c37 - verde quase preto
#063d1e - verde preto
*/

:root {
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --fonte-padrão: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrão);
}
header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor6));
    text-align: center;
    padding: 7px;
}
header h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.397);
}
header p {
    color: white;
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.397);
}
nav{
    background-color: var(--cor6);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.38);
}
nav a {
    color: white;
    font-family: var(--fonte-android);
    text-decoration:solid;
    margin: 15px;
    padding: 7px;
    transition-duration: 0.5s;
}
nav a:hover {
    background-color: var(--cor4);
    color: var(--cor6);
    text-decoration: underline;
    border-radius: 5px;
}
main {
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.41);
}
main h1 {
    color: var(--cor4);
    font-family: var(--fonte-android);
    margin-bottom: 10px;
    text-align: center;
}
main h2 {
    background-image: linear-gradient(to right, var(--cor1), transparent);
    color: var(--cor4);
    font-family: var(--fonte-android);
    margin: 15px 0px;
}
main p {
    margin-bottom: 15px;
    line-height: 1.5em;
    text-indent: 30px;
}
main img {
    width: 100%;
}
main img.pequena {
    max-width:350px;
    display: block;
    margin: auto;
}
main iframe {
    max-width: 670px;
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
main ul {
    margin-left: 30px;
    margin-bottom: 10px;
}
main li {
    margin-bottom: 5px;
}
main strong {
    color: var(--cor5);
    font-weight: bold;
}
main a {
    color: var(--cor4);
    text-decoration: underline;
    padding: 2px 6px;
    transition-duration: 0.5s;
}
main a:hover {
    color: var(--cor6);
    background-color: var(--cor1);
    padding: 2px 6px;
    border-radius: 5px;
}
footer {
    background-color: var(--cor4);
    text-align: center;
    color: white;
    font-family: var(--fonte-padrão);
    margin-top: none;
    padding: 15px;
}
footer a {
    color: var(--cor2);
    text-decoration: none;
    margin: 5px;
    padding: 7px;
    transition-duration: 0.5s;
}
footer a:hover {
    background-color: var(--cor6);
    color: var(--cor1);
    text-decoration: underline;
    border-radius: 5px;
}
